@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Bold.eot');
	src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Bold.woff') format('woff'),
		url('Ubuntu-Bold.ttf')  format('truetype'),
		url('Ubuntu-Bold.svg#af7bef38075aa5e7c958c00bc3eeea68602ac218c2d0eb89b31e32060efdb5b') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Italic.eot');
	src: url('Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Italic.woff') format('woff'),
		url('Ubuntu-Italic.ttf')  format('truetype'),
		url('Ubuntu-Italic.svg#7c9321e24eb7b299a27397d1286e9ec66db00bfd53079546dd17e82aa93346a') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Regular.eot');
	src: url('Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Regular.woff') format('woff'),
		url('Ubuntu-Regular.ttf')  format('truetype'),
		url('Ubuntu-Regular.svg#c8c356fb3292e654630927639fc773f98c3c45e8d9cdd9a5c8f38674d01fd96') format('svg');
	font-weight: normal;
	font-style: normal;
}
